<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="jiraEpicProgressBoard" data-view="JiraEpicProgressBoard" data-unordered="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitor_count" data-view="Number" data-title="Active Users"></div>
    </li>
  </ul>
</div>
